:root {
  --font-body: "Inter", sans-serif;
  --font-display: "Playfair Display", serif;
  --color-primary: #2c3e50; /* A deep, elegant blue */
  --color-secondary: #d91656;
  --color-light: #ecf0f1; /* A soft, light gray */
  --color-dark: #34495e; /* A complementary dark blue/gray */
  --hover: #c2134e;
}

body {
  font-family: var(--font-body);
  color: var(--color-primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-display);
}

header {
  background-image: url("./images/computer.jpg");
  background-repeat: no-repeat;
}

.projects-btn,
.contact-btn {
  background-color: var(--color-secondary);
}

.projects-btn:hover,
.contact-btn:hover {
  background-color: var(--hover);
}

.live-btn {
  color: var(--color-secondary);
}

.live-btn:hover {
  color: var(--hover);
}

.dot {
  color: var(--color-secondary);
}

.nav-bar:hover {
  color: var(--color-secondary);
}
/*
* Scroll Fade-in Animation Classes
* These are used by the Intersection Observer in script.js to create the effect.
*
* 1. `fade-in-section`: The default state for an element before it's visible.
* It's invisible (`opacity: 0`) and slightly moved down (`translateY`).
*
* 2. `is-visible`: This class is added by JavaScript when the element scrolls into view.
* It transitions the element to be fully visible (`opacity: 1`) and moves it
* back to its original position.
*/
.fade-in-section {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in-section.is-visible {
  opacity: 1;
  transform: translateY(0);
}

/*
* Custom Underline Animation for Navigation Links
* Creates a stylish effect when hovering over links in the navbar.
*/
.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: var(--color-secondary);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.highlight {
  position: relative;
  display: inline-block;
}

.highlight::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: -5px;
  right: -5px;

  height: 60%;
  z-index: -1;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 255 35'%3E%3Cpath d='M11.4,25.6C38.9,23.3,66.5,21,94,18.8c27.5-2.2,55-4.5,82.5-6.7c27.5-2.2,55-4.5,82.5-6.7c-2.2,5.5-4.5,11-6.7,16.5c-27.5,2.2-55,4.5-82.5,6.7c-27.5,2.2-55,4.5-82.5,6.7C36.7,29.8,24.1,32.1,11.4,34.3C9.2,28.8,9.2,27.7,11.4,25.6z' fill='%23ffc4a8'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
